[include]
    path = ~/.gitconfig.local

[color]
	ui = true

[push]
default = current

[alias]
co = checkout
hide = update-index --assume-unchanged
unhide = update-index --no-assume-unchanged
unhide-all = update-index --really-refresh
hidden = !git ls-files -v | grep \"^[a-z]\"
ignored = !git status -s --ignored | grep \"^!!\"
delete-remote = push origin --delete

# merge branch without fast-forward
mb = merge --no-ff
delete-merged = "!git branch --merged | grep -v master | xargs git branch -d"

[core]
	editor = vi
	excludesfile = ~/.gitignore
